@import "_null.scss";
@mixin fontz($f,$w, $l, $c) {
	font-size: $f;
	font-weight: $w;
	line-height: $l;
	color: $c;
}

$color-black: #222222;
$color-pink: #F16D7F;
$color-light-grey: #e6e6e6;
$color-grey: #E5E5E5;
$color-white: #fffFFF;

$site-width: 1140px;

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
}
.main {
	flex: 1 1 auto;
}
.container{
	max-width: $site-width + 30px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	width: 100%;
	height: 75px;
	background-color: $color-black;
	position: fixed;
	z-index: 100;
	align-items: center;
}
.flex-center {
	display: flex;
	justify-content: space-between;
}

.header__part {
	align-items: center;
}
.search-submit {
	background: $color-black;
}
.search-input {
	width: 300px;
	height: 28px;
	border-radius: 14px;
	border: 1px solid $color-light-grey;
	background: $color-black;
	color: $color-light-grey;
	padding-left: 15px;
	padding-right: 15px;
	display: none;
}
.header__search {
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
.search-submit:hover + .search-input{
	display: inline-block;
}
.search-input:hover,
.search-input:focus-visible {
	display: inline-block;
}

.header__cart {
	position: relative;
}
.header__cart::after {
	content: "5";
	width: 19px;
	height: 19px;
	border-radius: 9.5px;
	background-color: $color-pink;
	position: absolute;
	top: 12px;
	left: 40px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
}
.header-link {
	display: block;
	padding: 18.5px;;
}

.header__menu {
	position: relative;
}
/*---------------Менюшка--------------*/
.mega-box {
	border-radius: 5px;
	background-color: $color-white;
	border: 1px solid #e8e8e8;
	padding: 20px;
	position: absolute;
	z-index: 20;
	top: 60px;
	left: -203px;
	display: none;
}
.mega-heading {
	@include fontz(14px, 400, 32px,$color-pink); 
	text-align: right;
	text-transform: uppercase;
	border-bottom: 1px solid #e8e8e8;
	width: 235px;
	margin-bottom: 16px;
	margin-top: 16px;

}
.mega-link {
	@include fontz(14px, 400, 28px, #646464); 
	text-align: right;
	display: block;
}
.mega-link:hover {
	background-color: $color-light-grey;
}

.mega-box::before {
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: $color-white;
	top: -5px;
	right: 33px;
	transform: rotate(45deg);
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}
.header__menu:hover .mega-box{
	display: block;
}
/*--------------------main---------*/
.brand {
	background-color: #F1E4E6;
	height: 764px;
	margin-top: 75px;
}

.brand__content {
	padding-top: 290px;
	width: 400px;
	position: relative;
}
.brand__content::after {
	content: "";
	display: block;
	width: 12px;
	height: 92px;
	background-color: $color-pink;
	position: absolute;
	top: 292px;
	left: -20px;
	z-index: 9;
}
.brand__title {
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
}
.brand__subtitle {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}
.brand__subtitle_red {
	color: $color-pink;
}

/*---------Темные карточки----------*/
.categories {
	background-color: $color-grey;
	padding-top: 65px;
	padding-bottom: 96px;
}
.category {
	display: flex;
	gap: 30px;
}

.category-card {
	width: 360px;
	height: 260px;
	margin-bottom: 30px;
	position: relative;

}
.brightness {
	filter: brightness(38%);
}
.category-card__content {
	width: 100%;
	position: absolute;
	z-index: 10;
	text-align: center;
	top: 42%;

}
.category-card__subtitle {
	@include fontz (16px, 400, 1.2, $color-white);
}
.category-card__title {
	@include fontz (24px, 700, 1.2, $color-pink);
}
.fullwidth {
	width: 100%;
	height: 180px;
}
.content-fullwidth {
	top: 300%;
}

/*---------------Заголовок Каталога----------------*/
.featured-items {
	background-color: $color-grey;
	padding-bottom: 95px;
}
.featured-items__title {
	@include fontz (30px, 400, 1.2, $color-black);
}
.featured-items__text {
	@include fontz (14px, 400, 1.2, #9F9F9F);
}
.featured-items__content {
	margin: 0 auto 48px;
	text-align: center;
}
/*-------------Карточка----------*/
.item-heading {
	@include fontz (13px, 400, 16px, $color-black);
	padding-bottom: 13px;
}
.item-descrip {
	@include fontz (14px, 300, 17px, #5D5D5D);
}
.item-price {
	@include fontz (16px, 400, 19px, $color-pink);
	padding-top: 18px;
}
.txt-box {
	padding: 25px 18px 20px;
}
.item-pic {
	width: 360px;
	height: 420px;
}
.small-img {
	background-color: #F7E4E2;
	overflow: hidden;
}
.small-img-position {
	transform: translate(80%, 3%);
}
.item-link {
	width: 360px;
	display: block;
	background-color: #F8F8F8;
}
.item {
	width: 360px;
	position: relative;
	transition: all 0.3s ease-in-out;
}
.item:hover {
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.item:hover .item-pic {
	filter: brightness(30%);
}
.item:hover .add-box {
	opacity: 100%;
}
.add {
	display: flex;
	padding: 13px;
	align-items: center;
	border: 1px solid $color-white;
	pointer-events: auto;
	transition: all 0.3s ease-in-out;
}
.add-box {
	display: flex;
	position: absolute;
	top: 118px;
	justify-content: center;
	width: 100%;
	pointer-events: none;
	opacity: 0;

}
.add-desc {
	@include fontz (14px, 400, 17px, $color-white);
	padding-left: 11px;
}
.add:hover {
	box-shadow: 0 0 10px $color-white;
}
.item-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}

/*-----------Кнопка--------------*/
.browse-btn__btn {
	padding: 14.5px 38.5px 13.5px;
	border: 1px solid $color-pink;
	background-color: $color-grey;
	color: $color-pink;
	margin-top: 48px;
	transition: all 0.3s ease-in-out;
}
.browse-btn__btn:hover {
	background-color: $color-pink;
	color: $color-white;
}
.browse-btn {
	display: flex;
	justify-content: center;
}
/*----------преимущества----------*/
.preference {
	padding-top: 104px;
	padding-bottom: 104px;
	background-color: $color-black;
	min-height: 340px;
}
.preference__list {
	align-items: flex-end;
	justify-content: space-around;
}
.preference-card {
	width: 320px;
	text-align: center;

}
.preference__title {
	font-size: 20px;
	color: #FBFBFB;
	margin-top: 28px;
	margin-bottom: 16px;
}
.preference__text {
	font-size: 14px;
	color: #F8F8F8;
}
/*--------Тетка с кнопкой-----------*/
.subscribe {
	height: 448px;
	position: relative;
	z-index: 1;
}
.subscribe::before {
	content: "";
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%; 
	height: 100%;  
	opacity: 0.7; 
	z-index: -1;
	background: url(../img/Layer_41.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.subscribe-woman {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.subscribe-woman__img {
	width: 96px;
	height: 96px;
	border-radius: 48px;
	background-color: #565658;
	background-image: url(../img/ellipse_3_2206.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	overflow: hidden;
	margin-top: 97px;
	margin-bottom: 30px;
}
.subscribe-woman__text {
	width: 360px;
	text-align: center;
}
.subscribe-woman__quote {
	font-size: 20px;
	color: $color-black;
}
.subscribe-woman__quote span {
	font-style: italic;
}
.subscribe-form {
	margin-right: 96px;
}
.subscribe-form__description {
	text-align: center;
}
.subscribe-form__title {
	@include fontz (24px, 700, 1.67, $color-black);
	margin-top: 150px;
}
.subscribe-form__text {
	@include fontz (18px, 400, 1.67, $color-black);
	margin-bottom: 32px;
}
.subscribe-form__field {
	width: 256px;
	height: 50px;
	border-radius: 25px 0 0 25px;
	background-color: #E1E1E1;
	padding-left: 22px;
	overflow: hidden;
	@include fontz (14px, 400, 1.2, $color-black);
}
.subscribe-form__btn {
	width: 100px;
	height: 50px;
	border-radius: 0 25px 25px 0;
	background-color: $color-pink;
	color: $color-white;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;
}
.subscribe-form__btn:hover {
	background-color: #E05C6E;
}
/*--------Footer-----------*/
.footer {
	background-color: $color-black;
	height: 80px;
	padding-top: 24px;
}
.footer-text__text {
	color: #FBFBFB;
	margin-top: 6px;
}
.footer-social__list {
	display: flex;
	gap: 7.29px;
}
.footer-social__link {
	display: block;
	width: 31.45px;
	height: 32px;
	background-color: $color-white;
	display: flex;
	align-items: center;
	color: #000;
	justify-content: center;
	transition: all 0.3s ease-in-out;
}
.footer-social__link:hover {
	background-color: $color-pink;
	color: $color-white;
}
/*@media (max-width: 1170px) {
	.container {
		max-width: 970px;
		padding-left: 16px;
		padding-right: 16px;
	}
	/*.category-card {
		max-width: 232px;
		max-height: 167px;
	}
	.category-card__content {
		width: 232px;
	}
}
/*----------------Tablet-------------*/
/*@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
	.brand {
		height: 368px;
	}
	.brand-image__image {
		/*height: ;
	}
}*/
/*-----------Iphone--------------*/
/*@media (max-width: 375px) {
	.container {
		max-width: 343px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.category {
		gap: 19px;
	}
}*/
/*----------------страница продукта----------------*/
.product-title {
	background-color: #F8F3F4;
	height: 223px;	
}
.product-title__title {
	font-size: 24px;
	font-weight: 400;
	color:$color-pink;
}

.product-title__link {
	display: inline;
	@include fontz (14px, 300, 1.2, #6F6E6E);
}
.product-title__link:last-child {
	font-weight: 700;
	color:$color-pink;
}
.product-title-header {
	padding-top: 135px;
}
.product-image {
	position: relative;
	z-index: 1;
}
.product-image__image {
	background-color: #F7F7F7;
	text-align: center;
}
.image__arrow {
	width: 47px;
	height: 47px;
	background-color: #9F9F9F;
	text-align: center;
	padding-top: 12.65px;
	position: absolute;
	top: 365px;
	transition: all 0.3s ease-in-out;
}
.image__arrow:first-child {
	left: 0;
}
.image__arrow:last-child {
	right: 0;
}
.image__arrow:hover {
	color: $color-pink;
}
.product-and-catalog {
	background-color: $color-white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.product-card {
	width: 1140px;
	height: 600px;
	background-color: $color-white;
	border: 1px solid #EAEAEA;
	position: relative;
	top: -170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	margin-top: 130px;
}
.product-card__subtitle {
	@include fontz (14px, 300, 17px, $color-pink);
	text-transform: uppercase;
	margin-top: 64px;
}
.product-card__hr {
	width: 63px;
	height: 3px;
	background-color: $color-pink;
	margin: 12px 0;
}
.product-card__title {
	@include fontz (18px, 300, 22px, #4D4D4D);
	text-transform: uppercase;
	margin-bottom: 48px;
}
.product-card__description {
	@include fontz (14px, 300, 17px, #5E5E5E);
	width: 555px;
}
.product-card__cost {
	@include fontz (24px, 300, 29px, $color-pink);
	text-transform: uppercase;
	margin-top: 32px;
}
.product-card__hr_grey {
	width: 640px;
	height: 1px;
	background-color: #EAEAEA;
	margin: 65px 250px;
}
.choose {
	display: flex;
}
.choose-item {
	text-align: right;

}
.choose-text {
	@include fontz (14px, 400, 17px, #6F6E6E);
	margin-left: 23px;
	list-style-type: none;
	text-transform: uppercase;
}
.fa-angle-down {
	font-size: 14px;
	color: #6F6E6E;
	padding-left: 9px;
}
.choose-item:hover .fa-angle-down {
	color: $color-pink;
}

.product-card__btn {
	width: 211px;
	height: 47px;
	border: 1px solid $color-pink;
	display: flex;
	gap: 23px;
	align-items: center;
	margin-top: 48px;
	padding-left: 23.5px;
	transition: all 0.3s ease-in-out;
}
.product-card-btn__text {
	font-size: 16px;
	color: $color-pink;
	transition: all 0.3s ease-in-out;
}
.product-card-btn__cart {
	color: $color-pink;
	transition: all 0.3s ease-in-out;
}
.product-card__btn:hover {
	background-color: $color-pink;
}
.product-card__btn:hover .product-card-btn__text {
	color: $color-white;
}
.product-card__btn:hover .product-card-btn__cart {
	color: $color-white;
}

/*-------Каталог--------*/


/*--------------недоАккордеон------------------*/
.catalog-nav {
	display: flex;
	margin: 50px 20px 65px;
}
.filter {
	position: relative;
}

.filter-with-icon {
	display: flex;
	gap: 11px;
	cursor: pointer;
}
.filter-summary, .sub-summary{
	list-style: none;
}

.filter-text {
	font-size: 14px;
	color: #6F6E6E;
	line-height: 1.2;
	cursor: pointer;
	
}
.text-filter {
	font-weight: 600;
	color: $color-black;
	margin-bottom: 15px;
	line-height: 1;
	text-transform: uppercase;
	
}
.sub-summary {
	margin-bottom: 18px;
}

.filter-details[open] .filter-summary {
	color: $color-pink;
}
.sub-details[open] .sub-summary {
	color: $color-pink;
}
.filter-details[open] {
	width: 360px;
	height: fit-content;
	position: absolute;
	z-index: 50;
	padding: 15px 20px;
	top: -15px;
	left: -20px;
	background-color: $color-white;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.border-left-bottom {
	border-left: 5px solid $color-pink;
	border-bottom: 1px solid #EBEBEB;
	background-color: $color-white;
	padding: 11px 11px;
    width: 100%;
}
.sublist-item {
	padding: 15px;
	line-height: 2;
}
.sublist-item:hover {
	color: $color-pink;
}

/*----------------------------------------*/
.catalog-choose {
	margin: 0 auto;
	.choose-item {
		position: relative;
		
	}
	.choose-list {
		width: fit-content;
		height: fit-content;
		padding: 7px 30px 0 10px;
		background-color: $color-white;
		box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
		text-align: left;
		position: absolute;
		right: -10px;
		z-index: 1000;
	}
	.choose-text {
		font-size: 14px;
		color: #6F6E6E;
		line-height: 1.2;
	}
}

.choose-box::after {
	content: '';
	width: 12px;
	height: 12px;
	display: block;
	border: 1px solid #EBEBEB;
	position: relative;
	top: -15px;
}
/*--------Pages-------------*/
.pages {
	width: 285px;
	border: 1px solid $color-light-grey;
	border-radius: 3px;
	padding: 5px;
}

.pages-place {
	margin: 48px auto 96px;
}
.pages__list {
	display: flex;
	align-items: center;
	
}
.pages__link {
	padding: 9px;
	@include fontz (16px, 300, 19.2px, $color-grey);
}
.current-page {
	color: $color-black
}
.pages__arrow {
	color: $color-black;
}
.pages__link:hover {
	color: $color-pink;
}
.pages__link_nohover {
	@include fontz (16px, 300, 19.2px, $color-grey);
	padding: 9px 0;
}